.chat-main
  .chat-main__header
    .chat-main__header__group-info
      %p.chat-main__header__group-info__group-name techシャンプー
      .chat-main__header__group-info__members-list
        %ul.chat-main__header__group-info__members-list__index Member :
        .li.chat-main__header__group-info__members-list__members isaki
    %a{:href => "#"} 
      .chat-main__header__edit-btn Edit
  .chat-main__messages
    .chat-main__messages__messages-box
      .chat-main__messages__messages-box__list
        %ul.chat-main__messages__messages-box__list__message-info
          %li.chat-main__messages__messages-box__list__message-info__messanger-name isaki
          %li.chat-main__messages__messages-box__list__message-info__message-date 2020/02/14(Fri) 08:33
        %p.chat-main__messages__messages-box__list__message 入試がんばれって励ましといた
        
      .chat-main__messages__messages-box__list
        %ul.chat-main__messages__messages-box__list__message-info
          %li.chat-main__messages__messages-box__list__message-info__messanger-name head-complex
          %li.chat-main__messages__messages-box__list__message-info__message-date 2020/02/14(Fri) 08:36
        %p.chat-main__messages__messages-box__list__message 誰がはげや
  
  %form.chat-main__message-form
    .chat-main__message-form__input-box
      %input.chat-main__message-form__input-box__text{:name => "message[content]", :placeholder => "メッセージを入力しても良いよ", :type => "text"}/
      %label.chat-main__message-form__input-box__image{:for => "message-image"} 
        %i.fa.fa-image
        %input#message-image.chat-main__message-form__input-box__image__file{:name => "message[image]", :type => "file"}/
    .chat-main__message-form__submit-btn Send