.side-bar
  .side-bar__header
    .side-box
      %p.side-box__user-name isaki
      %ul.side-box__menu
        = link_to "#", class: "side-box__menu__new-group" do
          %i.fa.fa-edit
        = link_to "#", class: "side-box__menu__edit-user" do
          %i.fa.fa-cog
  
  .side-bar__groups
    .side-bar__groups__group
      %p.side-bar__groups__group__group-name techcamp
      %p.side-bar__groups__group__group-message まだメッセージはありません
    
    .side-bar__groups__group
      %p.side-bar__groups__group__group-name techシャンプー
      %p.side-bar__groups__group__group-message 面白すぎて膝割れた

